#container {
    h3 {
        text-align: center;
    }

    ul {
        width: fit-content;
        margin: 0 auto;
        text-align: left;

        li {
            margin-bottom: 10px;

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
